footer {
    clear: left;
    background-color: #FFF;
    border-top: 1px solid #CCCCCC;
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    color: #484848;
}
