html {
    box-sizing: border-box;
}

body {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #484848;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px auto;
    width: 100%;
    max-width: 1000px;
}
