.filters {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

button {
    background-color: #FF5A5F;
    border-radius: 4px;
    margin: auto 30px auto auto;
    font-size: 18px;
    color: #FFF;
    height: 48px;
    width: 20%;
    border: none;
    align-self: center;
}

button:hover {
    cursor: pointer;
    opacity: .9;
}

.locations,
.amenities {
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
    margin: 1em 0 auto 30px;
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: auto 0 auto 30px;
}

.popover {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    display: none;
    background-color: #FAFAFA;
    margin: 17px 0 0 0;
}

.popover ul {
    margin-left: 10px;
}

.popover li ul {
    padding: 0;
}

ul>ul {
    padding: 0;
}

.popover li {
    list-style-type: none;
}

.popover h2 {
    font-size: 16px;
    margin: 5px auto 5px auto;
}

.locations:hover,
.amenities:hover {
    cursor: pointer;
}

.locations:hover .popover {
    display: block;
    cursor: pointer;
}

.amenities:hover .popover {
    display: block;
    cursor: pointer;
}
