header {
    background-image: url(../images/logo.png);
    border-bottom: 1px solid #CCCCCC;
    float: left;
    color: #fff;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 20px;
}
