.filters {
    border: 1px solid #DDDDDD;
    color: #FFF;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #FF5A5F;
    border: none;
    margin: auto 30px auto auto;
    color: #FFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    align-self: center;
}

button:hover {
    cursor: pointer;
    opacity: .9;
}
